<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.tulipsante">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-permission-sdk-23 android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_FINE_LOCATION" />




    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".views.activities.ReferenceActivity"></activity>
        <activity android:name=".views.activities.CarouselActivity" />
        <activity android:name=".views.activities.ScanQRActivity" />
        <activity android:name=".views.activities.SuperAdminActivity" />
        <activity android:name=".views.activities.ConferencingActivity" />
        <activity android:name=".views.activities.PermissionManagementActivity" />
        <activity android:name=".views.activities.RelationManagementActivity" />
        <activity
            android:name=".views.activities.PulseOxymeterActivity"
            android:directBootAware="true"
            android:screenOrientation="landscape"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".views.activities.HistoriqueActivity"
            android:screenOrientation="landscape"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".views.activities.ConsultationActivity"
            android:screenOrientation="landscape"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".views.activities.FullPatientListActivity"
            android:screenOrientation="landscape"
            tools:ignore="LockedOrientationActivity" />
        <activity android:name=".views.activities.TakeImageActivity" /> <!-- android:configChanges="orientation|keyboardHidden" -->
        <!-- android:screenOrientation="portrait" -->
        <!-- tools:ignore="LockedOrientationActivity" -->
        <activity android:name=".views.activities.ChooseImageActivity" />
        <activity
            android:name=".views.activities.EndoscopeActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            tools:ignore="LockedOrientationActivity" />
        <activity android:name=".views.activities.AddPatientActivity">
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="vnd.android.nfc" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.activities.ThermalCamActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".views.activities.ConsultationToolsActivity"
            android:screenOrientation="landscape"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".pulse.oximeter.view.PulseActivity"
            android:screenOrientation="landscape"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".views.activities.PatientRecordActivity"
            android:screenOrientation="landscape"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".views.activities.MainMenuActivity"
            android:screenOrientation="landscape"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".views.activities.LoginActivity"
            android:screenOrientation="landscape"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".views.activities.LauncherActivity"
            android:screenOrientation="landscape"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
        </activity>


        <activity
            android:name=".pulse.oximeter.view.ScanActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <service
            android:name=".pulse.oximeter.device.bluetooth.BluetoothLeService"
            android:enabled="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <uses-library android:name="com.android.future.usb.accessory" />



    </application>
    <uses-feature
        android:name="android.hardware.usb.host"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.usb.accessory"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />
    <uses-feature android:name="android.hardware.camera2.full" />
    <uses-feature android:name="android.hardware.camera" />

    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

</manifest>